
<div class="contact-section" id="contact">
  <div class="contact-card grid nested-grid">
    <p class="text-5xl justify-content-center font-bold text-white">Get in touch</p>
   <div class="col-12 py-2">
      <form class="grid" (submit)="sendEmail($event)">
        <div class="col-6">
          <label for="name">Name</label>
          <input id="name" type="text" class="input-field" [(ngModel)] = "formData.name" name="name" />
        </div>
        <div class="col-6">
          <label for="email">Email</label>
          <input id="email" type="email" class="input-field" [(ngModel)] = "formData.email" name="email"/>
        </div>
        <div class="col-12">
          <label for="message">Message</label>
          <textarea id="message" rows="4" class="input-field" [(ngModel)] = "formData.message" name="message"></textarea>
        </div>
        <div class="pt-3 pl-2">
          <button class="custom-button" (onClick)="sendEmail($event)">Send Message</button>
        </div>   
      </form>
    </div>
  </div>
</div>
