<nav class="navbar">
    <ul class="navbar-links flex flex-row justify-content-center" style="list-style-type: none;">
        <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#about"><i class='bx bx-user'></i>
                {{'About'}}
            </a>
        </li>
        <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#experience"><i
                    class='bx bx-user'></i> {{'Experience'}}
            </a>
        </li>
        <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#technology"><i
                    class='bx bx-user'></i> {{'Technology'}}
            </a>
        </li>
        <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#projects"><i
                    class='bx bx-user'></i> {{'Projects'}}
            </a>
        </li>
        <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#contact"><i
                    class='bx bx-user'></i> {{'Contact'}}
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
